.App {
    height: 100%;
    min-height: 100vh;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.check-button {
    height: 25px;
    width: 25px;
}

hr {
    border: none;
    height: 3px;
    background-color: #bd6868;
}